<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/static.css' %}"> 
</head>

<body>
  <div class="header">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/success">Home</a>
                  <ul class=" nav navbar-nav">
                    <li class="active">
                        <a class="navbar-brand" href="/profile/{{user.id}}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/new/review/{{user.id}}">New Review</a>
                      </li>
                    <li>
                      <a class="navbar-brand" href="/logout">Logout</a>
                    </li>
                  </ul>
            </nav>
        </div>
    </div>
  </div>
      <h3>{{user.f_name}}, you can post your review here!</h3>
      {% comment %} <div id="blue">
        Navigation
    </div> {% endcomment %}
    <div id="addreview">
      <h4>Post the latest book you read. Did you like it?</h4>
      <div>
          <form action="/profile/{{user.id}}/create" method="POST">
              {% csrf_token %}
              <div>
                {% if messages %}
                {% for message in messages %}
                {% if message.extra_tags == "reg_title" %}
                   <p class="col-sm-12 text-danger">{{message}}</p>
                {% endif %}
                {% endfor %}
                {% endif %}
                <h5>Book Title:<Title></Title> <input type="text" name="title" cols='35'></h5>
                <!-- <h5>Your Thought:</h5><textarea name="description" rows="5" cols="55"></textarea><br>
                <button type="submit" id="postbutton">Post Review</button> -->
              </div>
              <div>
                {% if messages %}
                {% for message in messages %}
                {% if message.extra_tags == "reg_description" %}
                   <p class="col-sm-12 text-danger">{{message}}</p>
                {% endif %}
                {% endfor %}
                {% endif %}
                <h5>Your Thought:</h5><textarea name="description" rows="5" cols="55"></textarea><br>
                <button type="submit" id="postbutton">Post Review</button>
              </div>
          </form>
          <!-- THIS PAGE NEEDS STYLING -->
      </div>
    </div>
      {% comment %} <div id="black">
       black
    </div> {% endcomment %}
</body>
</html>