<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/success">Home</a>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/{{user.id}}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/new/review/{{user.id}}">Post a New Review</a>
                      </li>
                    <li>
                      <a class="nav-link" href="/logout">Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    </div>
  </div>
    <div id='wrap'>
        <h1>{{user.f_name}}'s Profile</h1>
        <a href="/success" class="btn btn-secondary">Go Back</a>
        <div id='posts'>
        <div id='write'>
        </div>
        <div class='one_post'>
          <h2>Reviews</h2>
            <div id='posts'>
              {% for book in books %}
              {% if book.posted_by.id == user.id %}
                <h5>{{book.title}}</h5>
                <p class='poster'>Review By: {{book.posted_by.f_name}} {{book.posted_by.l_name}} {{book.created_at}}</p>
                <p>{{book.description}}</p>
                <a href="/review/{{book.id}}">Delete this Review</a>
                <br>
                <a href="/review/{{book.id}}/edit">Edit this Review</a>
                <div class='one_post'>
                  <div id='posts'>
                      <p>{{comment.comment}}</p>
                      <p class='poster'>Posted by: {{comment.poster.first_name}} {{comment.poster.last_name}} {{comment.created_at}}</p>
                  </div>
                </div>
              <h5>Comments:</h5>
              {% for comment in comments %}
              {% if comment.review.id == book.id %}
              <ul>
                <li>{{comment.created_at}}: {{comment.poster.f_name}} says
              <b>{{comment.content}}</b> for {{book.title}}'s review.<br> <a class='poster' href="/delete/{{comment.id}}">Delete Comment</a></li>
              </ul>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
        </div>
</body>
</html>