<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review edit page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/static.css' %}"> 
</head>
<body>
  <div class="header">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/success">Home</a>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/profile/{{user.id}}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/new/review/{{user.id}}">New Review</a>
                      </li>
                    <li>
                      <a class="navbar-brand" href="/logout">Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    </div>
  </div>
    <h3> {{user.f_name}} Edit Book Review Here!</h3>
    <div id="reviewedit">
        <form action="/review/{{book.id}}/edit" method="POST">
            {% csrf_token %}
            <h4>Book Title:<input type="text" name="title" value="{{book_review.title}}" cols='30'></h4>
            <h4>Your Thought:</h4><textarea name="description" rows="5" cols="55">{{book_review.description}} </textarea><br>
            <button type="submit">Post Review</button>
        </form>
    </div>
    <div class="comments">
        {% for comment in review_comments %}
            <p class="comments"><label>{comment.poster.f_name}: </label> {comment.content}</p>
            <a href="comment/id/delete">Delete Comment</a>
        {% endfor %}
    </div>
</body>
</html>