<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/success">Home</a>
                      <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/{{user.id}}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new/review/{{user.id}}">Post a New Review</a>
                          </li>
                        <li>
                          <a class="nav-link" href="/logout">Logout</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="col-sm-8 h1">Welcome, {{user.f_name}}!</div>
            <p class="col-sm-8">Reviews Go Here</p>
            <!-- BELOW SQL IS NOT WORKING, PROBABLY BECAUSE OF CONTENT -->
            <!-- THE SQL WILL ALSO NEED COMMENTS FOR EACH REVIEW -->
            <!-- THIS WILL BE LIKE A FACEBOOK WALL PAGE -->
            {% for review in all_reviews %}
                <div class="review-feed">
                    <h4>{{review.title}} reviewed by {{review.posted_by.f_name}}</h4>
                    <p>{{review.description}}</p>
                </div>
                <div class="comments">
                    {% for comment in all_comments %}
                    {% if comment.review.id == review.id %}
                            <h5>{{comment.poster.f_name}} Says:<p>{{comment.content}}</p></h5>
                    {% endif %}
                    {% endfor %}
                    <form action="/profile/{{user.id}}/{{review.id}}/comment" method="POST">
                        {% csrf_token %}
                        <h5>Add a Comment:</h5> <br><textarea type="submit" name="comment_content"></textarea><br>
                        <button>Submit</button>
                    </form>
                </div>
            {% endfor %}
    </div>
</body>